.list-card {
  width: 60%;
  border-radius: 8px;
  border: 7px solid #3598db;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 15px;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.list-card__image {
  max-width: 100px;
  margin-right: 20px;
}

.list-card__info {
  flex-grow: 1;
}

.list-card__title {
  font-size: 25px;
  color: #2c3e50;
}

.list-card__comments-count {
  margin-left: auto;
  margin-right: 20px;
  color: #3498db;
  background-color: unset;
  border: unset;
  white-space: nowrap;
}

.list-card__edit-button {
  margin-left: 10px;
}

.list-search__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-search__header h1 {
  text-transform: uppercase;
  color: #888;
}

.list-search__input {
  color: #3498db;
  border: 1px solid #3598db;
  display: flex;
  height: 42px;

  border-radius: 7px;
  width: 62%;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  margin: auto;
}
.button-infoo {
  width: 20%;
  color: #3498db;
  border: 1px solid #3598db;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.buttons-div {
  margin: auto;
  width: 62%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.user-card__footer {
  display: flex;
  align-items: center;
}
.user-card__link {
  margin-left: auto;
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  text-decoration: none;
  padding: 8px 10px;
  white-space: nowrap;
}
.user-card__linkk {
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  text-decoration: none;
  padding: 8px 10px;
  white-space: nowrap;
}

.list-search__inputt {
  color: #3498db;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  width: 62%;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  margin: auto;
}
.user-card__li {
  border-radius: 4px;
  color: #3498db;
  text-decoration: none;
  padding: 8px 10px;
  white-space: nowrap;
}
